#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.v-pointer {
    cursor: pointer;
}
.v-center {
    display: block;
    text-align: center;
}
.v-to-zero {
    padding: 0;
    margin: 0;
}
