@import "~ant-design-vue/es/style/themes/default.less";
@import "~ant-design-vue/es/style/themes/default.deperated.less";

.v-icon-hover:hover {
    cursor: pointer;
    color: @link-color;
    background: rgba(0, 0, 0, 0.036);
}

.v-theme-color {
    background-color: transparent;
    color: @primary-color;
}

.v-theme-bg {
    background-color: @primary-color;
}
