@import "~ant-design-vue/lib/style/themes/default.less";

.v-icon-hover:hover {
    cursor: pointer;
    color: @link-color;
    background: rgba(0, 0, 0, 0.036);
}

.v-theme-color {
    background-color: transparent;
    color: @primary-color;
}

.v-theme-bg {
    background-color: @primary-color;
}
